<div class="row number-two">
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
  <div class="col">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"><div class="pixel-active purple"></div></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
</div>
